src/main/mule/cicd-maven-jenkins-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b5fc90a9-7285-4397-b4f9-2bc9b2c539f2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-maven-jenkins-projectFlow" doc:id="53f4ea4f-082f-4802-969b-a54d5790d2db" >
		<http:listener doc:name="Listener" doc:id="28d708e9-641b-422e-b166-e61c1511b5df" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="005fae59-da06-46e2-84f9-85171793a419" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="08f55949-30f3-4ca4-93c4-93c343bc6135">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"currentdateTime": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
